{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscription/css/subscription.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block username %}
    <em id="display_name">{{ profile.display_name | lower}}</em>
    <span class="hidden" id="tier">{{tier}}</span>
{% endblock %}

{% block content %}
    <div class="container container-wrapper text-center mt-5">
        <div class="row">
            <div class="col">
                <h2 class="mb-2"><i class="fas fa-cookie-bite"></i>  Buy me a snack</h2>
                <h5>US$ {{ price |floatformat:2 }} per snack</h5>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-lg-8 offset-lg-2 my-2">
                <div class="container">
                    <div class="row">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li class="list-item py-2">Help me to maintain the page</li>
                            <li class="list-item py-2">Help me to buy some snacks</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-11 mx-auto py-2 text-center">
                        <form action="{% url 'buy' %}" method="POST">
                            {% csrf_token %}
                            <div class="row d-flex justify-content-between py-1">
                                <div class="btn text-center snack-choice">1</div>
                                <div class="btn text-center snack-choice">3</div>
                                <div class="btn text-center snack-choice">5</div>
                                <div>
                                    <i class="fas fa-cookie-bite px-1">  x  </i>
                                    <input type="text" class="text-center snack-choice-input" name="qty" value="1">
                                </div>
                            </div>
                            <span class="hidden" id="price">{{ price }}</span>
                            <div id="snack-total" class="d-flex justify-content-center py-3">
                                Total: US$ {{ price |floatformat:2 }}
                            </div>
                            <button type="submit" class="btn auth-btn mt-2">Buy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'subscription/js/stripe_elements.js' %}"></script>
    <script src="{% static 'subscription/js/subscription.js' %}"></script>
{% endblock %}