{% extends "base.html" %}
{% load static %}

{% block content %}
    <form class="form" method="POST" action="{% url 'uploaded' %}">
        {% csrf_token %}
        <div class="row mx-0">
            <div class="col-md-2 tag-all-slot text-center mt-md-5">
                <div>
                    <h4>Tag all: </h4>
                    <div id="tag-all-slot" onclick="addSymbol(this)" data-toggle="modal" data-target="#edit-tag-modal">@tag all</div>
                </div>
            </div>
            <div class="col-10 container-fluid upload-container position-relative mt-md-5">
                <div class="row mt-5 image-container">
                    <div class="col-8 mt-5 offset-2 text-center" >
                        <i class="fas fa-image"></i>
                    </div>
                </div>
                <div id="frame" class="row d-flex justify-content-center"></div>
                <input type="file"  accept="image/*" name="image" id="upload-photo" onchange="loadFile(event)" multiple>
            </div>
        </div>
        <div class="row mt-3 mx-0 d-flex justify-content-center">
            <label for="upload-photo" class="btn upload-photo-btn">Add</label>
        </div>
        <div>
            <input id="uploaded-form" type="text" name="uploaded" value="">
            <input id="uploaded-file" type="file" name="uploaded-file" value="" multiple>
            <button type="submit" class="btn" >DONE</button>
        </div>
    </form>

    <!-- Modal to edit tags-->
    <div class="modal" id="edit-tag-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog d-flex justify-content-center" role="document">
            <div class="modal-content">
                <button type="button" class="btn edit-tag-save" onclick="editTagFile()" data-dismiss="modal">Done</button>
                <span class="modal-header d-flex justify-content-center"></span>
                <div class="modal-body">
                    <textarea name="edit-file-tag" id="edit-file-tag"></textarea>
                    <span id="output-file"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}