{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mx-0">
        <div class="col-md-2 tag-all-slot text-center mt-md-5" onclick="addSymbol(this)" data-toggle="modal" data-target="#edit-tag-modal">
            <div class="">@tag all</div> 
        </div>
        <div class="col-10 container-fluid upload-container position-relative mt-md-5">
            <div class="row mt-5 image-container">
                <div class="col-8 mt-5 offset-2 text-center" >
                    <i class="fas fa-image"></i>
                </div>
            </div>
            <div id="frame" class="row d-flex justify-content-center"></div>
            <input type="file"  accept="image/*" name="image" id="upload-photo" onchange="loadFile(event)" multiple>
        </div>
    </div>
    <div class="row mt-3 mx-0 d-flex justify-content-center">
        <label for="upload-photo" class="btn upload-photo-btn">Add</label>
    </div>

    <!-- Modal to edit tags-->
    <div class="modal" id="edit-tag-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog d-flex justify-content-center" role="document">
            <div class="modal-content">
                <button type="button" class="btn edit-tag-save" onclick="editTagFile()" data-dismiss="modal">Done</button>
                <span class="modal-header d-flex justify-content-center">
                </span>
                <div class="modal-body">
                    <textarea name="edit-file-tag" id="edit-file-tag"></textarea>
                    <span id="output-file"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}