html {
    height: 100%;
}

body{
    background-color: #1a1a1a;
    color: #bebebe;
}

.base-text-color, a{
    color: #bebebe;
}

a:hover{
    color: #bebebe;
    text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
}

.hidden{
    display: none !important;
}

/* Login and authentication */

.auth-container{
    min-height: 60vh !important;
}

#id_login,
#id_password,
#id_email,
#id_email2,
#id_username,
#id_password1,
#id_password2{
    background-color: #1a1a1a !important;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #bebebe;
}

.btn:focus,
textarea{
    box-shadow: 0 0 0 0.2rem rgba(190, 190, 190, 0.25);
}

#logo-text:focus,
#id_login:focus,
#id_password:focus,
#id_email:focus,
#id_email2:focus,
#id_username:focus,
#id_password1:focus,
#id_password2:focus,
#id_remember,
textarea{
    outline: none; 
}

form li{
    list-style-type: none;
    color: #990000;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
}

#signup_form ul{
    padding: 0;
}
