html {
    height: 100%;
}

body{
    background-color: #1a1a1a;
    color: #bebebe;
}

.base-text-color, a{
    color: #bebebe;
}

/* Landing Page */
.logo-anime{
    font-size: 150px;
}

.logo-anime:after {
  content: 'I';
  opacity: 0;
  animation: tagblink 0.75s linear infinite alternate ;
}

@keyframes tagblink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Upload Page */

.upload-container{
    padding: 0;
    position: relative !important;
    border: 1px solid #bebebe;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.image-container{
    display: inline;
}

.fa-image{
    margin: 0;
    padding: 0;
    font-size: 200px;
}

#upload-photo{
    display: none;
}

.frame-wrapper{
    padding: 0;
    margin: 10px auto;
    width: 220px;
    height: 220px;
	border-top: solid 10px #fff;
    border-left: solid 10px #fff;
    border-right: solid 10px #fff;
    border-bottom: solid 10px #fff;
}

.upload-photo-btn{
    background-color: #1a1a1a;
    color: #bebebe !important;
    border: solid 1px #bebebe;
}

.upload-photo-btn:hover{
    cursor: pointer;
    background-color: #bebebe;
    color: #1a1a1a !important;
    border: solid 1px #1a1a1a;
}

#frame{
	margin: 2rem 0;
}

.upload-thumbnail {
	margin: 10px 0 0 0;
    padding: 0;
    height: 180px;
    width: 180px;
}

.delete-thumbnail{
    top: 5%;
    left: 75%;
    position: absolute;
    color: #1a1a1a;
}

.fa-times-circle{
    border: solid 3px #bebebe;
    border-radius: 50%;
    background-color: #bebebe;
}

.displaynone{
    display: none !important;
}

.displaynone:hover{
    display: block !important;
    color: #1a1a1a;
}

.tag-slot{
    background-color: #1a1a1a;
    color: #bebebe;
    border: none;
    padding: 0;
    width: 204px;
    word-wrap: break-word;
}

.tag-slot::placeholder {
    color: #bebebe;
  	opacity: 0.25;
}

.tag-all-slot{
    margin: 0;
    padding-bottom: 0px;
    word-wrap: break-word;
    color: #fff;
}

.addtags-wrapper{
    display: none;
}

#edit-file-tag-modal textarea{
    resize: none;
    border: none;
    width: 100%;
    max-width: 100%;
}

#edit-file-tag-modal textarea:focus{
    outline: none;
}

#output-file{
    display: none;
}

#tag-all-files{
    background-color: #1a1a1a;
    color: #bebebe;
    border: 1px solid #bebebe;
    padding: 0;
    width: inherit;
    word-wrap: break-word;
}

#tag-all-files-btn{
    border: solid 1px #bebebe;
    color: #bebebe;
}

#tag-all-files-btn:hover{
    cursor: pointer;
    background-color: #bebebe;
    color: #1a1a1a !important;
    border: solid 1px #1a1a1a;
}