html {
    height: 100%;
}

body{
    background-color: #1a1a1a;
    color: #bebebe;
}

.base-text-color, a{
    color: #bebebe;
}

a:hover{
    color: #bebebe;
}

/* Landing Page */
.logo-anime{
    font-size: 150px;
    max-width: 50vh;
    word-wrap: break-word;
}

.index-tag-1,
.index-tag-2,
.index-tag-3{
    word-wrap: break-word;
}

#logo-text{
    color: #1a1a1a;
    background-color: #1a1a1a;
    border: none;
}

.logo-anime:after {
    content: 'I' ;
    opacity: 0;
    animation: tagblink 0.75s linear infinite alternate ;
}

@keyframes tagblink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Login and authentication */

.auth-container{
    min-height: 60vh !important;
}

#id_login,
#id_password,
#id_email,
#id_email2,
#id_username,
#id_password1,
#id_password2{
    background-color: #1a1a1a !important;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #bebebe;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(190, 190, 190, 0.25);
}

#logo-text:focus,
#id_login:focus,
#id_password:focus,
#id_email:focus,
#id_email2:focus,
#id_username:focus,
#id_password1:focus,
#id_password2:focus,
#id_remember{
    outline: none; 
}

form li{
    list-style-type: none;
    color: #990000;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
}

#signup_form ul{
    padding: 0;
}

/* Upload Page */

.upload-container{
    padding: 0;
    position: relative !important;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
}

.image-container{
    text-align: center;
}

.fa-image{
    margin: 0;
    padding: 0;
    font-size: 200px;
}

#upload-photo{
    display: block;
}

.frame-wrapper{
    padding: 0;
    margin: 20px auto 0 auto;
    width: 220px;
    height: 220px;
	border-top: solid 10px #fff;
    border-left: solid 10px #fff;
    border-right: solid 10px #fff;
    border-bottom: solid 10px #fff;
}

.upload-photo-btn, .auth-btn{
    background-color: #1a1a1a;
    color: #bebebe !important;
    border: solid 1px #bebebe;
}

.upload-photo-btn:hover, .auth-btn:hover{
    cursor: pointer;
    background-color: #bebebe;
    color: #1a1a1a !important;
    border: solid 1px #1a1a1a;
}

#frame{
	margin-bottom: 20px;
}

.thumbnail {
	margin: 10px 0;
    padding: 0;
    height: 180px;
    width: 180px;
}

.thumbnail-edit{
    margin: 10px 0;
    padding: 0;
    height: 90px;
    width: 90px;
}


.delete-thumbnail{
    top: 5%;
    left: 75%;
    position: absolute;
    color: #1a1a1a;
}

.fa-times-circle{
    border: solid 3px #bebebe;
    border-radius: 50%;
    background-color: #bebebe;
}

.hidden{
    display: none !important;
}

.delete-thumbnail:hover{
    display: block !important;
    color: #1a1a1a;
}

.tag-all-slot{
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    margin: auto;
    padding: 10px;
    word-wrap: break-word;
    display: none;
}

.tag-slot{
    background-color: #fff;
    color: #1a1a1a;
    border: none;
    margin: auto;
    padding: 10px;
    width: 220px !important;
    word-wrap: break-word;
}

.tag-slot::placeholder, .tag-all-slot::placeholder {
    color: #1a1a1a;
  	opacity: 0.25;
}

.tag-slot:focus, .tag-all-slot:focus{
    outline: none;
}

.modal-dialog{
    width: 300px;
    margin: auto;
}

.modal-content{
    background-color: #fff;
}

.modal-footer{
    border: none;
}

.modal-header{
    border: none;
}

.modal-body{
    padding: 0;
}

#edit-file-tag{
    background-color: #fff;
    resize: none;
    border: none;
    width: 100%;
    max-width: 100%;
    height: 30vh;
}

#edit-file-tag:focus{
    outline: none;
}

#output-file{
    display: none;
}

.edit-tag-save{
    background-color: #1a1a1a;
    color: #bebebe !important;
    border: solid 1px #bebebe;
}

#tag-all-files{
    background-color: #1a1a1a;
    color: #bebebe;
    border: 1px solid #bebebe;
    padding: 0;
    width: inherit;
    word-wrap: break-word;
}

#tag-all-files-btn{
    border: solid 1px #bebebe;
    color: #bebebe;
}

#tag-all-files-btn:hover{
    cursor: pointer;
    background-color: #bebebe;
    color: #1a1a1a !important;
    border: solid 1px #1a1a1a;
}

/* Photos in albums */
.carousel-item img{
    height: 80vh;
    max-width: 100vh;
    display: block;
    margin: auto;
}