.container-wrapper{
    margin-top: 5rem !important;
}

.snack-choice {
    border: 1px solid #bebebe !important;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: #bebebe;
    padding-top: 4px;
    border-radius: 100%;
}

.snack-choice:hover{
    cursor: pointer;
    background-color: #bebebe;
    color: #1a1a1a !important;
}

.snack-choice-input {
    border: 1px solid #bebebe !important;
    background-color: #1a1a1a;
    color: #bebebe;
    height: 40px;
    width: 60px;
    font-size: 20px;
    padding-top: 4px;
}

.fa-cookie-bite{
    margin-top: 10px;
    font-size: 20px;
}


/* Stripe Payments */


.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #bebebe;
  background-color: #1a1a1a;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #1a1a1a !important;
}

.stripe-style-input::placeholder {
    color: #bebebe;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.851);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}