{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mx-0 mb-5">
        <div class="col-12 text-center">
            <h2>My @lbums</h2>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-12 text-center px-0">
            <div class="row mx-0">
                {% for tag in tags %}
                    <div class="col-12 col-md-4 col-lg-3 text-center">
                        {% for cover in tag.tag_photos.all %}
                            {% if forloop.last %}
                                <div class="frame-wrapper">
                                    <a href="{% url 'tag_album' tag.tag_name %}">
                                        <img class="thumbnail" src="/media/{{ cover.image  }}">
                                    </a>
                                </div>
                                <h3>@{{ tag.tag_name }}</h3>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}