{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mx-0 mb-5">
        <div class="col-12 text-center">
            <h2>Photos</h2>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-2 text-left px-0 d-none d-md-block">
            <ul id="side-menu-list">
                <li class="py-2"><a href="{% url 'albums' %}">@lbums</a></li>
                <li class="py-2"><a href="{% url 'upload' %}">+ Upload</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-10 text-center mb-5">
            <div class="row mx-0">
                {% for photo in photos %}
                    <div id="{{ photo.id }}-img-container" class="col-12 col-md-4 col-lg-3 text-center">
                        <div class="frame-wrapper position-relative">
                            <img id="{{ photo.id }}-img" class="thumbnail" src="/media/{{ photo.image }}" onmouseenter="showDelete(this)" onmouseleave="hideDelete(this)">
                            <span class="btn delete-thumbnail hidden">
                                <strong>
                                    <i class="far fa-times-circle" onclick="deleteImg(this)" data-toggle="tooltip" data-placement="top" title="Remove this file"></i>
                                </strong>
                            </span>
                        </div>
                        <div>
                            <div class="tag-slot text-left position-relative" >
                                <p id="{{ photo.id }}-tag-slot-img" onmouseenter="showDelete(this)" onmouseleave="hideDelete(this)">
                                    {% if photo.tags_set.all %}
                                        {% for tag in photo.tags_set.all %}
                                            @{{tag.tag_name}}
                                        {% endfor %}
                                    {% else %}
                                        Click edit to add tag
                                    {% endif %}
                                </p>
                                <span class="btn edit-tag hidden" data-toggle="tooltip" data-placement="top" title="Edit tags">
                                    <strong>
                                        <a href="{% url 'edit_tags' photo.id %}"><i id="{{ photo.id }}-img-edit" class="fas fa-pencil-alt" ></i></a>
                                    </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal" id="edit-tag-modal" tabindex="-1" role="dialog">
        <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog d-flex justify-content-center" role="document">
                <div class="modal-content">
                    <button type="submit" class="btn edit-tag-save">Done</button>
                    <span class="modal-header d-flex justify-content-center"></span>
                    <div class="modal-body">
                        <textarea name="edit-file-tag" id="edit-file-tag" onkeypress="preventComma()"></textarea>
                        <input type="text" name="output-file" id="output-file">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}