{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mx-0 mb-5">
        <div class="col-12 text-center">
            <h2>Photos</h2>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-2 text-left px-0">
            <ul id="side-menu-list">
                <li class="py-2"><a href="{% url 'albums' %}">@lbums</a></li>
                <li class="py-2"><a href="{% url 'upload' %}">+ Upload</a></li>
            </ul>
        </div>
        <div class="col-10 text-center px-0">
            <div class="row mx-0">
                {% for photo in photos %}
                    <div id="image-container-{{ photo.id }}" class="col-12 col-md-4 col-lg-3 text-center">
                        <div class="frame-wrapper position-relative">
                            <img id="image-{{ photo.id }}" class="thumbnail" src="../media/{{ photo.image }}" onmouseenter="showDelete(this)" onmouseleave="hideDelete(this)">
                            <span class="btn delete-thumbnail hidden">
                                <strong>
                                    <i class="far fa-times-circle" onclick="deleteImg(this)" data-toggle="tooltip" data-placement="top" title="Remove this file"></i>
                                </strong>
                            </span>
                        </div>
                        <div>
                            <div id="tag-slot-img-{{ photo.id }} position-relative" class="tag-slot text-left" >
                                <p onmouseenter="showDelete(this)" onmouseleave="hideDelete(this)">
                                    {% for tag in photo.tags_set.all %}
                                        @{{tag.tag_name}}
                                    {% endfor %}
                                </p>
                                <span class="btn edit-tag hidden" data-toggle="tooltip" data-placement="top" title="Edit tags">
                                    <strong>
                                        <i class="fas fa-pencil-alt" onclick="addSymbol(this)" data-toggle="modal" data-target="#edit-tag-modal"></i>
                                    </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}