{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mx-0 mb-5">
        <div class="col-12 text-center">
            <h2>Delete Photo</h2>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-12 col-md-10 text-center mb-4">
            <form method="POST" action="{% url 'delete_img' image_id %}" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="row mx-0">
                    {% for photo in photos %}
                        <div id="{{ image_id }}-img-container" class="col-12 col-md-4 text-center mx-auto">
                            <div class="frame-wrapper position-relative">
                                <img id="{{ image_id }}-img" class="thumbnail" src="/media/{{ photo.image }}">
                            </div>
                            <div class="col-12 py-3">
                                <p>{% for tag in photo.tags_set.all %}@{{tag.tag_name}}{% endfor %}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center py-3">
                            <h3 class="my-3">Are you sure that you want to delete this photo?</h3>
                            <div class="col-12 text-center py-5">
                                <a href="{% url 'all_photos' %}" class="btn upload-photo-btn mx-2" >CANCEL</a>
                                <button type="submit" class="btn upload-photo-btn mx-2" >CONFIRM</button>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="edit-tag-modal" tabindex="-1" role="dialog">
        <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog d-flex justify-content-center" role="document">
                <div class="modal-content">
                    <button type="submit" class="btn edit-tag-save">Done</button>
                    <span class="modal-header d-flex justify-content-center"></span>
                    <div class="modal-body">
                        <textarea name="edit-file-tag" id="edit-file-tag" onkeypress="preventComma()"></textarea>
                        <input type="text" name="output-file" id="output-file">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}