{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mx-0 mb-5">
        <div class="col-2"></div>
        <div class="col-10 text-center">
            <h2>@{{ tags.0 }}</h2>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-2 d-none d-md-block">
            <ul id="side-menu-list">
                <li class="py-2"><a href="{% url 'all_photos' %}"><i class="fas fa-images"></i> Photos</a></li>
                <li class="py-2"><a href="{% url 'albums' %}"><i class="fas fa-book"></i> Albums</a></li>
                <li class="py-2"><a href="{% url 'upload' %}"><i class="fas fa-upload"></i> Upload</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-10 text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <!--<ol class="carousel-indicators">
                    {% for tag in tags %}
                        {% if tag.tag_name == 'healthy' %}                
                            {% for t in tag.tag_photos.all %}
                                {% if forloop.counter0 == 0 %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                                {% else %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ol>-->
                <div class="col-12 carousel-inner px-0">
                    {% for tag in tags %}          
                        {% for t in tag.tag_photos.all %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                                <img class="" src="/media/{{ t.image  }}">
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}